<div class="content-wrapper container-xxl p-0 mt-5">
    <div class="content-body">
      <section class="invoice-preview-wrapper">
        <div class="row invoice-preview">
          <!-- Job Description -->
          <div class="col-xl-9 col-md-8 col-12 printRef">
            
          
            <app-form-wizard></app-form-wizard>
          </div>
          <!--/ Job Description -->
  
          <!-- Job Actions -->
          <div class="col-xl-3 col-md-4 col-12 invoice-actions mt-md-0 mt-2">
           
              <app-sign-up-card></app-sign-up-card>

              <app-job-details-card></app-job-details-card>

             <app-social-links-card></app-social-links-card>

          </div>

            <!-- / Job Actions -->

            
        
        </div>
      </section>
    </div>
  
  </div>
  