<div class="content-wrapper container-xxl p-0">
    <div class="content-body">
        <!-- User List -->
        <section class="users-list-wrapper">
            

<!-- Stats Horizontal Card -->
<app-stats-card [statsJobs]="currrentRow"></app-stats-card>
<!--/ Stats Horizontal Card -->


            <div class="card"> 
                <h2 class="card-header">Job Listing </h2>
                <hr>
                <div class="row">
                    <div class="col-md-6 col-12">
                        <div class="d-flex justify-content-between align-items-center m-1">
                            <label class="d-flex align-items-center">Show
                                <select class="form-control mx-25" [(ngModel)]="selectedOption">
                                    <option value="10">10</option>
                                    <option value="25">25</option>
                                    <option value="50">50</option>
                                    <option value="100">100</option>
                                </select>
                                entries</label>
                        </div>
                    </div>
                    <div class="col-md-6 col-12 d-flex justify-content-start justify-content-md-end">
                        <div class="d-flex align-items-center justify-content-end pr-1 pb-1 pb-md-0">
                            <label class="d-flex align-items-center ml-1 ml-md-0">Search:<input
                                    [(ngModel)]="searchValue" name="searchValue" type="search"
                                    class="form-control ml-25" (keyup)="filterUpdate($event)"
                                    (search)="filterUpdate($event)" /></label>
                                    <a csvLink [data]="exportCSVData" class="btn btn-outline-primary btn-sm-block float-right ml-1 mr-1" rippleEffect>
                                        <span [data-feather]="'external-link'" [class]="'mr-25'"></span>Export</a>
                            <button class="btn btn-primary ml-1" rippleEffect [routerLink]="['careers/add-job-opening']">
                                <i data-feather="plus" class="d-sm-none d-inline-block mr-0 mr-sm-1"></i><span
                                    class="d-none d-sm-inline-block">Add A Job </span>
                            </button>
                        </div>
                    </div>
                </div>
                <ngx-datatable [rows]="data" [rowHeight]="50" class="bootstrap core-bootstrap" [limit]="selectedOption"
                    [columnMode]="ColumnMode.force" [headerHeight]="50" [footerHeight]="50" [scrollbarH]="true">
                    <ngx-datatable-column  name="Posting Title" prop="title" [width]="200"
                    >
                        <ng-template let-row="row" let-name="value" ngx-datatable-cell-template>
                            <div class="cell-line-height">
                                <a (click)="onChnageUrl(row)" class="font-medium-1 d-block">
                                    <span class="font-weight-bold">{{
                                        name }}</span></a>
                                <span class="text-muted font-small-2"> {{ row.username }}</span>
                            </div>
                        </ng-template>
                       
                      
                    </ngx-datatable-column>
                    <ngx-datatable-column name="Client Name" prop="companyName" [width]="200"></ngx-datatable-column>
                    <ngx-datatable-column name="Recruiter" prop="assignRecruiter" [width]="100">
                        <ng-template let-role="value" ngx-datatable-cell-template>
                            <div>
                                <i class="feather font-medium-3" [ngClass]="{
                    'icon-edit-2 text-info': role == 'Editor',
                    'icon-settings text-warning': role == 'Author',
                    'icon-database text-success': role == 'Maintainer',
                    'icon-user text-primary': role == 'Subscriber',
                    'icon-slack text-danger': role == 'Admin'
                  }"></i>
                                {{ role }}
                            </div>
                        </ng-template>
                    </ngx-datatable-column>
                    <ngx-datatable-column name="Target Date" prop="dateOpened" [width]="100"></ngx-datatable-column>
                    <ngx-datatable-column name="Job Status" prop="draft" [width]="50">
                        <ng-template let-status="value" ngx-datatable-cell-template>
                            <div class="badge badge-pill" [ngClass]="{
                  'badge-light-success': status == 'Active',
                  'badge-light-secondary': status == 'Inactive',
                  'badge-light-warning': status == 'Close'
                }">
                                {{ status }}
                            </div>
                        </ng-template>
                    </ngx-datatable-column>
                    <ngx-datatable-column name="Openings " prop="noOfJobOpening" [width]="100"></ngx-datatable-column>
                
                </ngx-datatable>
            </div>
        </section>
        <!--/ User List -->






        
    </div>

    <!-- New User Sidebar -->
    <core-sidebar class="modal modal-slide-in sidebar-todo-modal fade" name="new-user-sidebar"
        overlayClass="modal-backdrop">
        <app-new-user-sidebar></app-new-user-sidebar>
    </core-sidebar>
    <!--/ New User Sidebar -->
</div>