<div class="content-wrapper container-xxl p-0">
  <div class="content-body">
    <!-- User List -->
    <section class="users-list-wrapper">
      <div class="card">

        <div class="d-flex justify-content-between flex-md-row flex-column  mt-0">
          <div>
            <h2 class="text-dark card-header">Notes</h2>
          </div>
          <button class="btn btn-primary mr-2 mb-2 mt-2" rippleEffect data-target="#compose-mail" (click)="openCompose()">
            <span [data-feather]="'plus'" [class]="'mr-25'"></span>
            Add A Note
          </button>
          
        </div>
<email-list-item></email-list-item>
      </div>
    </section>





  </div>

</div>

