<div class="card invoice-preview-card">
    <div class="card-body pb-0">
      <!-- Header Starts -->
      <div class="d-flex justify-content-center flex-md-row flex-column  mt-0">
        <div>
            <h1 class="text-dark ">Spread The Word </h1>
        </div>
      </div>
      <!-- Header Ends -->
    </div>

    <hr class="invoice-spacing" />

  
    <div class="card-body pt-0">
      <div class="row d-flex justify-content-center">
        <div class="d-flex flex-column  justify-content-center flex-sm-row pt-1">
            <a
              href="javascript:void(0)"
              class="btn btn-primary  mr-0 mr-sm-1 mb-1 mb-sm-0"
            >
            
              <i data-feather="facebook" [size]="22" class="mr-25"  [class]="'fill'"></i>
            </a>

            <a
            href="javascript:void(0)"
            class="btn btn-primary  mr-0 mr-sm-1 mb-1 mb-sm-0"
          >
            <i data-feather="linkedin" [size]="22" class="mr-25" [class]="'fill'"></i>
          </a>
          <a
          href="javascript:void(0)"
          class="btn btn-primary  mr-0 mr-sm-1 mb-1 mb-sm-0"
        >
          <i data-feather="twitter" [size]="22" class="mr-25" [class]="'fill'"></i>
        </a>

          </div>

          
      </div>
    </div>
  </div>