@import '/src/@core/scss/base/pages/app-chat-list.scss';
@import '/src/@core/scss/angular/libs/datatables.component.scss';
@import '/src/@core/scss/base/pages/app-user.scss';
@import '/src/@core/scss/angular/libs/ratings.component.scss';
@import '/src/@core/scss/angular/libs/flatpickr.component.scss';
@import '/src/@core/scss/base/pages/app-invoice.scss';

// Preview
// Windows Print Dialogue
@media print {
    @page {
        margin: 0;
    }

    .invoice-actions,
    .main-menu,
    .buy-now {
        visibility: hidden;
    }

    .printRef {
        max-width: 100% !important;
        flex: 0 0 100%;
    }
}