<div class="slideout-content">
    <!-- Modal to add new user starts-->
    <div class="modalsd modal-slide-in sdfade new-user-modal" id="modals-slide-in">
        <div class="modal-dialog">
            <form class="add-new-user modal-content pt-0" (ngSubmit)="(newUserForm.form.valid)" #newUserForm="ngForm">
                <button
                  type="button"
                  class="close"
                  data-dismiss="modal"
                  aria-label="Close"
                  (click)="toggleSidebar('new-user-sidebar')"
                >
                  ×
                </button>
                <div class="modal-header mb-1">
                  <h5 class="modal-title" id="exampleModalLabel">New Company</h5>
                </div>
                <div class="modal-body flex-grow-1">
                <div class="form-group">
                    <label class="form-label" for="basic-icon-default-fullname">Tenant</label>
                    <select #tenant id="tenantlist" formControlName="tenantlist"  (change)="tenantSelected(tenant.value)"  class="form-control" required>
                        <option *ngFor="let tenant of tenantList" [value]="tenant.id">{{tenant.name}}</option>
                    </select>
                </div>

             

                  <div class="form-group">
                    <label class="form-label" for="basic-icon-default-uname">Code</label>
                    <input
                      type="text"
                      id="basic-icon-default-uname"
                      class="form-control dt-uname"
                      placeholder="Enter Code"
                      aria-label="jdoe1"
                      aria-describedby="basic-icon-default-uname2"
                      name="user-name"
                      [(ngModel)]="username"
                      [class.error]="newUserForm.submitted && FUserNameRef.invalid"
                      #FUserNameRef="ngModel"
                      required
                    />
                    <span *ngIf="newUserForm.submitted && FUserNameRef.invalid" class="invalid-form">
                      <small class="form-text text-danger" *ngIf="FUserNameRef.errors.required">This field is required!</small>
                    </span>
                  </div>
        
                  <div class="form-group">
                    <label class="form-label" for="basic-icon-default-fullname">Name</label>
                    <input
                      type="text"
                      class="form-control dt-full-name"
                      id="basic-icon-default-fullname"
                      placeholder="Enter Name"
                      name="user-fullname"
                      [(ngModel)]="fullname"
                      [class.error]="newUserForm.submitted && FNameRef.invalid"
                      #FNameRef="ngModel"
                      required
                      aria-label="Name"
                      aria-describedby="basic-icon-default-fullname2"
                    />
                    <span *ngIf="newUserForm.submitted && FNameRef.invalid" class="invalid-form">
                      <small class="form-text text-danger" *ngIf="FNameRef.errors.required">This field is required!</small>
                    </span>
                  </div>
        
                 
                 
                  <div class="form-group">
                    <label class="form-label" for="user-status">Status </label>
                    <select #status id="user-status" (change)="onSelected(status.value)" class="form-control">
                      <option value="true">Active</option>
                      <option value="false">Inactive</option>
                    </select>
                  </div>
                  
                  <button type="submit" class="btn btn-primary mr-1" (click)="submit(newUserForm)" rippleEffect>Submit</button>
                  <button
                    type="reset"
                    class="btn btn-outline-secondary"
                    (click)="toggleSidebar('new-user-sidebar')"
                    rippleEffect
                  >
                    Cancel
                  </button>
                </div>
              </form>
        </div>
    </div>
    <!-- Modal to add new user Ends-->
</div>