<div class="card invoice-preview-card">
    <div class="card-body pb-0">
      <!-- Header Starts -->
      <div class="d-flex justify-content-between flex-md-row flex-column  mt-0">
        <div>
            <h1 class="text-dark ">Few Questions To Know You Better</h1>
        </div>
       
      </div>
      <!-- Header Ends -->
    </div>

    <hr class="invoice-spacing" />

    <!-- Address And Contact Starts -->
  
    <div class="card card-apply-job">
        <div class="card-body">
    <!-- Radio Custom Start -->
    <section id="radio-custom">
           
              <div class="card-body">


<ol>  
    <li class="mb-2">    
        <p class="card-text mb-0">
         Do you have any BPO/Call Center experience? 
          </p>
          <div class="demo-inline-spacing">
            <div class="custom-control custom-radio">
              <input type="radio" id="customRadio3" name="customRadio3" class="custom-control-input" checked />
              <label class="custom-control-label" for="customRadio3">Yes</label>
            </div>
            <div class="custom-control custom-radio">
              <input type="radio" id="customRadio4" name="customRadio3" class="custom-control-input" />
              <label class="custom-control-label" for="customRadio4">No</label>
            </div>
          </div>
    </li>
 
    <li class="mb-2">    
        <p class="card-text mb-0">
          Are you able to be on site in Mississauga when needed?  </p>
          <div class="demo-inline-spacing">
            <div class="custom-control custom-radio">
              <input type="radio" id="customRadio5" name="customRadio5" class="custom-control-input" checked />
              <label class="custom-control-label" for="customRadio5">Yes</label>
            </div>
            <div class="custom-control custom-radio">
              <input type="radio" id="customRadio6" name="customRadio5" class="custom-control-input" />
              <label class="custom-control-label" for="customRadio6">No</label>
            </div>
          </div>
    </li>

   


</ol>
            
             
           
          
        </div>
      </section>
      <!-- Radio Custom Ends -->
         
        </div>
      </div>
    

  </div>



 