<div class=" invoice-preview-card card">
    <div class=" p-1 pb-0">
        <!-- Header Starts -->
        <div class="d-flex justify-content-between flex-md-row flex-column  mt-0">
            <div>
                <h2 class="text-dark card-header ">Background Check</h2>
            </div>
            <button class="btn btn-primary mr-2 mb-2" rippleEffect>
                <span [data-feather]="'plus'" [class]="'mr-25'"></span>
                Upload
            </button>

        </div>
        <!-- Header Ends -->

    </div>

    <!-- Address And Contact Starts -->
    <div class="card-body pt-0">
        <div class="row p-1">
            <div class="col-12 p-0">

              

            </div>

        </div>
    </div>

</div>